.container-notas {
  background-color: #fff8ff;
}

.container-notas_lista {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 24px;
}
.container-notas_item {
  margin: 4px;
}
